{{#if
  (or
    (eq categoryPageStyle "categories-boxes")
    (and (theme-setting "show_on_mobile") this.site.mobileView)
  )
}}

  <section class="category-boxes with-logos with-subcategories">
    <CategoriesGroups @categories={{this.outletArgs.categories.content}} />
  </section>
{{/if}}