{{#if (theme-setting 'show_on_mobile')}}    
  <section class="category-boxes with-logos with-subcategories">
    {{categories-groups categories=categories}} 
  </section>
{{/if}}

{{#unless (theme-setting 'show_on_mobile')}}
  {{categories-only categories=categories
                    showTopics="true"}}
{{/unless}}
