.custom-category-group {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2em;

  @media screen and (max-width: 800px) {
    // tabletish
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (max-width: 650px) {
    // mobilish
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  li.category-box {
    width: unset;
    margin: 0;
  }

  .category-details {
    display: flex;
    flex-direction: column;
    height: 100%;

    h3,
    .description {
      text-align: left;
      font-weight: normal;
    }

    .subcategories {
      margin-top: auto;
    }
  }

  .category-box-heading {
    margin-bottom: 0.5em;
  }

  .category-box .logo.aspect-image img {
    margin: 1em 0;
  }

  .subcategories .subcategory .subcategory-image-placeholder {
    margin: 0;
  }
}

.custom-category-group-toggle {
  display: flex;
  align-items: center;
  padding-top: 0.5em;

  h2 {
    margin-top: 0 !important; // too specific in core due to ID
    color: var(--primary);
    font-size: var(--font-up-3);
  }

  .d-icon {
    font-size: var(--font-up-2);
    top: -0.15em; // alignment
    margin-left: 0.33em;
    color: var(--primary-medium);
  }

  &:hover {
    .d-icon {
      color: var(--primary);
    }
  }
}

[class^="custom-category-group-"] {
  ul {
    transition:
      opacity 1s,
      height 0;
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    padding-top: 0.25em;
    overflow: hidden;
  }

  .d-icon {
    transition: all 0.25s;
  }

  &.is-expanded {
    ul {
      transition:
        opacity 1s,
        height 0s;
      height: unset;
      opacity: 1;
      margin-bottom: 1.5em;
      overflow: visible;
    }
    .custom-category-group-toggle .d-icon {
      transform: rotate(90deg);
    }
  }
}

@if $fancy_styling == "true" {
  .custom-categories-groups {
    [class^="custom-category-group-"].is-expanded ul {
      padding-top: 1em;
      margin-bottom: 2em;
    }

    .custom-category-group-toggle {
      align-items: baseline;
      h2 {
        font-size: var(--font-1);
        font-weight: normal;
        color: var(--primary-medium);
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: all 0.25s;
      }

      .d-icon {
        font-size: var(--font-down-1);
        top: 1px;
      }

      &:hover {
        h2 {
          color: var(--primary);
        }
      }

      &:after {
        content: "";
        position: relative;
        margin-left: 1em;
        top: -0.3em;
        width: 100%;
        border-bottom: 1px solid var(--primary-low);
      }
    }

    .category-box {
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid;
      border-bottom: 8px solid;
      transition: all 0.25s;
      .category-box-inner {
        border: none;
        padding: 2em;
        @media screen and (max-width: 700px) {
          padding: 2em 1em 1.25em;
        }
        transition: background 0.25s ease-in-out;
      }
      .category-box-heading {
        margin-bottom: 0.75em;
      }

      &:hover {
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        transform: translate(0, -4px);
      }
    }
  }
}

.navigation-categories .contents {
  .category-boxes-with-topics,
  .category-boxes {
    // hides the default categories layout on desktop, so the custom layout appears
    display: none;
  }

  .custom-categories-boxes {
    .category-boxes-with-topics,
    .category-boxes {
      display: grid;
    }
  }
}

@if $show_on_mobile == "true" {
  // hides the default categories layout on mobile, so the custom layout appears
  .mobile-view {
    .category-list.with-topics {
      display: none;
    }
  }
}
